body {
  background: linear-gradient(to right, lightgreen, teal);
}

header{
  grid-area:header;
  background:rgba(0,0,0,.2);
}

.header h1{
  mediumspringgreen; text-shadow: 2px 2px 5px navy;
}

nav {
    grid-area:nav;
    background:rgba(0,0,0,.2);
    }

nav ul {
   padding:10px;
   margin:0;
}

nav li {
    padding:10px 10px;
    list-style-type:none;
    font-size:1.5em;
    font-weight:bold;
}

nav a {
    text-decoration:none;
    color:navy;
}

nav a:hover {
    color:white;
}

main{
  grid-area:main;
  background:rgba(0,0,0,.2);
}

footer{
  grid-area:footer;
  background:rgba(0,0,0,.2);
}

.container1 { /*for index.html*/
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap:.5e;
  margin:1%
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    }
